src/META-INF/wsdl/localhost_8080/hangman.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.hangman.wi.msarelo.pl.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.hangman.wi.msarelo.pl.com/" name="GameManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.hangman.wi.msarelo.pl.com/" schemaLocation="http://localhost:8080/hangman?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="addPlayerToGame">
<part name="parameters" element="tns:addPlayerToGame"></part>
</message>
<message name="addPlayerToGameResponse">
<part name="parameters" element="tns:addPlayerToGameResponse"></part>
</message>
<message name="createGame">
<part name="parameters" element="tns:createGame"></part>
</message>
<message name="createGameResponse">
<part name="parameters" element="tns:createGameResponse"></part>
</message>
<message name="getPlayerById">
<part name="parameters" element="tns:getPlayerById"></part>
</message>
<message name="getPlayerByIdResponse">
<part name="parameters" element="tns:getPlayerByIdResponse"></part>
</message>
<message name="getGameList">
<part name="parameters" element="tns:getGameList"></part>
</message>
<message name="getGameListResponse">
<part name="parameters" element="tns:getGameListResponse"></part>
</message>
<message name="getPlayerList">
<part name="parameters" element="tns:getPlayerList"></part>
</message>
<message name="getPlayerListResponse">
<part name="parameters" element="tns:getPlayerListResponse"></part>
</message>
<message name="getGameById">
<part name="parameters" element="tns:getGameById"></part>
</message>
<message name="getGameByIdResponse">
<part name="parameters" element="tns:getGameByIdResponse"></part>
</message>
<message name="getPlayersAssignedToGame">
<part name="parameters" element="tns:getPlayersAssignedToGame"></part>
</message>
<message name="getPlayersAssignedToGameResponse">
<part name="parameters" element="tns:getPlayersAssignedToGameResponse"></part>
</message>
<message name="createPlayer">
<part name="parameters" element="tns:createPlayer"></part>
</message>
<message name="createPlayerResponse">
<part name="parameters" element="tns:createPlayerResponse"></part>
</message>
<message name="checkLetter">
<part name="parameters" element="tns:checkLetter"></part>
</message>
<message name="checkLetterResponse">
<part name="parameters" element="tns:checkLetterResponse"></part>
</message>
<portType name="GameManager">
<operation name="addPlayerToGame">
<input wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/addPlayerToGameRequest" message="tns:addPlayerToGame"></input>
<output wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/addPlayerToGameResponse" message="tns:addPlayerToGameResponse"></output>
</operation>
<operation name="createGame">
<input wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/createGameRequest" message="tns:createGame"></input>
<output wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/createGameResponse" message="tns:createGameResponse"></output>
</operation>
<operation name="getPlayerById">
<input wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/getPlayerByIdRequest" message="tns:getPlayerById"></input>
<output wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/getPlayerByIdResponse" message="tns:getPlayerByIdResponse"></output>
</operation>
<operation name="getGameList">
<input wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/getGameListRequest" message="tns:getGameList"></input>
<output wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/getGameListResponse" message="tns:getGameListResponse"></output>
</operation>
<operation name="getPlayerList">
<input wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/getPlayerListRequest" message="tns:getPlayerList"></input>
<output wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/getPlayerListResponse" message="tns:getPlayerListResponse"></output>
</operation>
<operation name="getGameById">
<input wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/getGameByIdRequest" message="tns:getGameById"></input>
<output wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/getGameByIdResponse" message="tns:getGameByIdResponse"></output>
</operation>
<operation name="getPlayersAssignedToGame">
<input wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/getPlayersAssignedToGameRequest" message="tns:getPlayersAssignedToGame"></input>
<output wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/getPlayersAssignedToGameResponse" message="tns:getPlayersAssignedToGameResponse"></output>
</operation>
<operation name="createPlayer">
<input wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/createPlayerRequest" message="tns:createPlayer"></input>
<output wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/createPlayerResponse" message="tns:createPlayerResponse"></output>
</operation>
<operation name="checkLetter">
<input wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/checkLetterRequest" message="tns:checkLetter"></input>
<output wsam:Action="http://server.hangman.wi.msarelo.pl.com/GameManager/checkLetterResponse" message="tns:checkLetterResponse"></output>
</operation>
</portType>
<binding name="GameManagerPortBinding" type="tns:GameManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="addPlayerToGame">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createGame">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPlayerById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getGameList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPlayerList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getGameById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPlayersAssignedToGame">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createPlayer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkLetter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="GameManagerService">
<port name="GameManagerPort" binding="tns:GameManagerPortBinding">
<soap:address location="http://localhost:8080/hangman"></soap:address>
</port>
</service>
</definitions>